@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h3>
        An ASP.NET Core Web App accessing Web API thru APIM all protected by Azure AD
    </h3>
    <br />
    @* <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="AdminConsentApi">Consent as Admin</a>

    <p>
        Note that you'd be asked to consent twice, once for the client app and then again for the Web API
    </p> *@
</div>